@page
@model JurayMailService.Web.Areas.Admin.Pages.PlansPage.UpdateModel
@{
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">UPDATE PLAN</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                    <input type="hidden" asp-for="Plan.Id" />

                    <div class="form-group">
                        <label asp-for="Plan.Name" class="control-label"></label>
                        <input asp-for="Plan.Name" class="form-control" />
                        <span asp-validation-for="Plan.Name" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <label asp-for="Plan.MonthlyLimit" class="control-label"></label>
                        <input asp-for="Plan.MonthlyLimit" class="form-control" />
                        <span asp-validation-for="Plan.MonthlyLimit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Plan.Price" class="control-label"></label>
                        <input asp-for="Plan.Price" class="form-control" />
                        <span asp-validation-for="Plan.Price" class="text-danger"></span>
                    </div>
                   

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
